@import url(./normalize.css);
@import url(./reset.css);
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* 바디 */
body {
  background-color: #ccc;
  font-family: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-weight: bold;
}
/* 레이아웃 */
.header,
.visual,
.main,
.slogan,
.footer-inner {
  width: 940px;
  /* padding 좌우 30px을 width 940에 포함시킴 */
  margin: 0 auto;
}
/* 헤더 */
.header {
  background-color: rgb(56, 205, 211);
  padding: 0 50px;
  /* 시계방향 */
  height: 15vh;
  border-radius: 0 0 15px 15px;
  position: relative;
}
/* 로고 */
.logo {
  position: absolute;
  top: 45px;
  left: 60px;
}
/* 텍스트 링크모음 */
.member {
  background-color: greenyellow;
}

/* 비주얼 */
.visual {
  background-color: rgb(232, 234, 238);
  height: 10vh;
}
/* 메인 */
.main {
  background-color: gold;
  height: 50vh;
  display: flow-root;
  padding: 0 15px 0 15px;
  /* BFC */
}
.group {
  margin: 0 15px;
  float: left;
}
.group1 {
  background-color: violet;
  width: 250px;
}
.group2 {
  background-color: salmon;
  width: 380px;
}
.group3 {
  background-color: red;
  width: 190px;
}

/* 슬로건 */
.slogan {
  background-color: green;
  height: 10vh;
  clear: both;
}
/* 푸터 */
.footer {
  color: white;
  background-color: rgb(25, 25, 28);
}
.footer-inner {
  background-color: gray;
  height: 15vh;
}

/* rgb(25, 25, 28) */
